.container {
  width: 710px;
  min-height: 500px;
  margin: auto;
}


.title {
  font-family: 'Calligraffitti', cursive;
  font-size: 250%;
  margin: auto;
  margin-top: 125px;
  text-align: center;
  /*  font-family: 'La Belle Aurore', cursive; */
}

.buttons {
  width: 100%;
  margin: auto;
}

.buttons a {
  display:block;
  float:left;
  width: 125px;
  height: 130px;
  font-size:400%;
  line-height:130%;
  text-decoration:none;
  font-weight:bold;
  color:#FFFFFF;
  cursor:pointer;
  padding-left: 5px;
  font-family: Palatino, serif;
}

#button1 {
  background-color: #8C1E1D;
  margin: 0 63px 0 0;
}

#button2 {
  background-color: #4B8A79;
  margin: 0 63px 0 0;
}

#button3 {
  background-color: #D0D969;
  margin: 0 63px 0 0;
}

#button4 {
  background-color: #F28C3E;
  margin: 0 0 0 0;
}

.content {
  width: 679px;
  min-height: 200px;
  clear: both;
  color: #FFFFFF;
  font-size: 175%;
  padding: 15px;
  text-align: justify;
  font-family: Palatino, serif;
}

#bio {
  background-color: #8C1E1D;
}

#code {
  background-color: #4B8A79;
}

#web {
  background-color: #D0D969;
}

#contact {
  background-color: #F28C3E;
}
